# SPDX-FileCopyrightText: 2010 - 2024 the Friendica project
#
# SPDX-License-Identifier: CC0-1.0

parameters:
    level: 2

    paths:
        - addon/
        - src/

    excludePaths:
        analyse:
            - addon/*/lang/*
            - addon/*/vendor/*
            - addon/convert/UnitConvertor.php
            - addon/pumpio/oauth/*

    scanDirectories:
        - mod
        - static
        - vendor
        - view

    dynamicConstantNames:
        - DB_UPDATE_VERSION

    ignoreErrors:
        -
            # Ignore missing GdImage class in PHP <= 7.4
            message: '(^Property .+ has unknown class GdImage as its type\.$)'
            path: src

        -
            # Ignore missing IMAP\Connection class in PHP <= 8.0
            message: '(^Method .+ has invalid return type IMAP\\Connection\.$)'
            path: src

        -
            # Ignore missing IMAP\Connection class in PHP <= 8.0
            message: '(^Parameter .+ has invalid type IMAP\\Connection\.$)'
            path: src
